header nav{
	float: right;
	margin-top:10px;
}

header{
	
	background-color: green;
	color: white;
	min-height: 70px;
	padding-top:30px;
	
}
header a{
	
	color:#fff;
	text-decoration: none;
	text-transform:uppercase;
	font-size:17px;
	padding: 5px 8px;
}

ul{
	
	padding:0;
	margin:0;
	list-style-type:none;
}


header nav li{
	float: center;
	display: inline;
	padding:0 35px 0 35px
}

#main aside{
	width: auto;
	box-sizing: border-box;
	padding: 50px;
	background-color:yellow;
	color:black;
	margin:auto;
	background-image: url("../image/sea.jpg");
	
	
}
.ImageHome img{
	
	width:1500px;
	height: 700px;
	
}

aside h3, h1{
	color: white;
	font-size:23px;
}
aside input, aside textarea{
	
	width:30%;
	padding: 5px;
}
.message{
	text-align:center;
}


.form-group{
	padding-bottom:10px;
}

.btn:hover{
	
	border:none;
	background-color:#8f746c;
	color:white;
	padding:9px 26px;
	
}
.btn{
	
	border: solid;
	background-color: white;
	color:#8f746c;
	padding:9px 26px;
	cursor: pointer;
}
.container{
	
	width: 80%;
	
	margin: auto;
	
	overflow:hidden;
	
	
}

#showcase{
	
	min-height:300px;
	background-image: url("../image/unnamed.jpg");
	text-align:center;
	color: black;
	
	
}
#showcase h1{
	
	margin-top: 80px;
	font-size: 55px;
	color: black;
}
#showcase p{

	font-size: 30px;
	color: black;
}
#showcases{
	
	min-height:300px;
	background-image: url("../image/nightsky.jpg");
	text-align:center;
	color: black;
	
	
}
#showcases h1{
	
	margin-top: 80px;
	font-size: 55px;
}
#showcases p{

	font-size: 29px;
	color: white;
}


footer{
	
	padding:60px;
	color:#fff;
	background-color:black;
	text-align: center;
	margin-top:auto;
}

